<a href="https://colab.research.google.com/github/Dudahye/ProjetoSpotify_Artist/blob/main/SpotifyAnalise_Artist_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise Spotify: Rank das 100 músicas e artistas mais tocados.

* Vamos analisar o artista com maior quantidade de músicas dentro do Rank das 100 músicas mais ouvidas.

1- Primeiro importamos as bibliotecas necessarias para a análise, hoje vamos utilizar pandas e matplotlib.

In [1]:
import pandas as pd
import matplotlib

2- Após realizada a importação vamos ler o arquivo, criamos uma variável para chamar o conjunto que será Spotifyanalise como o arquivo que estou utilizando é cvs vamos utilizar o read.csv e adicionar o caminho do arquivo, OBS:Nesse caso utilizamos os dados de dentro no Drive então antes tivemos que montar o Drive e copiar o caminho do arquivo.

In [5]:
Spotifyanalise = pd.read_csv('/content/drive/MyDrive/SPOTIFY/List of most-streamed songs on Spotify.csv')

3- Após criada a variável Spotifyanalise, vamos apresentar o conjunto de dados na tela com .head() e assim vamos conseguir verificar as colunas e linhas do arquivo conforme aparece abaixo.

In [7]:
Spotifyanalise.head()

,Rank,Song,Streams (Billions),Artist,Release Date
0,1,Shape of You,"3,327",Ed Sheeran,6 January 2017
1,2,Blinding Lights,"3,323",The Weeknd,29 November 2019
2,3,Dance Monkey,"2,721",Tones And I,10.May.19
3,4,Someone You Loved,"2,588",Lewis Capaldi,8 November 2018
4,5,Rockstar,"2,570",Post Malone featuring 21 Savage,15 September 2017

4 - Agora vamos verificar as colunas existentes no nosso conjunto de dados com .columns.values

In [14]:
Spotifyanalise.columns.values

array(['Rank', 'Song', 'Streams (Billions)', 'Artist', 'Release Date'],
      dtype=object)

5- Após verificarmos vamos escolher quais colunas utilizar, nesse caso vamos utilizar Song, Streams (Billions) e Artist, e para isso criamos uma nova variável que será chamada de spotifyselecionados e vamos colocar as colunas entre[' ', ' ' ...]

In [16]:
spotifyselecionados=['Song', 'Streams (Billions)', 'Artist']

6 - Agora vamos filtar os dados que inserimos na váriavel spotifyselecionados e
para isso vamos utilizar variável criada = variável base.filter(items=variável criada)

In [18]:
spotifyselecionados= Spotifyanalise.filter(items=spotifyselecionados)

7 - Após filtrado vamos apresentar os dados com .head()

In [30]:
spotifyselecionados.head()

                Song Streams (Billions)                           Artist
0       Shape of You              3,327                       Ed Sheeran
1    Blinding Lights              3,323                       The Weeknd
2       Dance Monkey              2,721                      Tones And I
3  Someone You Loved              2,588                    Lewis Capaldi
4           Rockstar              2,570  Post Malone featuring 21 Savage

8 - Agora vamos verificar o artista mais tocado no rank das 100 músicas mais ouvidas, para isso primeiro vamos selecionar somente a coluna de artistas que é Artist e para realizarmos isso vamos criar outra váriavel que nesse caso será Artist_spotify conforme o código abaixo.

In [22]:
Artist_spotify=spotifyselecionados['Artist']

9 - Colocando o nome da váriavel criada Artisit_spotify vamos verificar todos os nomes dos artistas.

In [34]:
Artist_spotify

0                            Ed Sheeran
1                            The Weeknd
2                           Tones And I
3                         Lewis Capaldi
4       Post Malone featuring 21 Savage
                    ...
95                           Jason Mraz
96    Luis Fonsi featuring Daddy Yankee
97                              Nirvana
98                             Maroon 5
99         DaBaby featuring Roddy Ricch
Name: Artist, Length: 100, dtype: object

10 - Agora para classificarmos quantas vezes os nomes dos artistas aparecem vamos utilizar a várivel Artist_spotify.value_counts() e assim vai nos mostrar quantas vezes cada artista aparece na base de dados. Com esse codígo já conseguimos verificar que o artista que mais aparece na base é o Ed Sheeran que aparece 4 vezes ou seja 4 músicas dele estão no ranking das 100 músicas mais ouvidas.

In [28]:
Artist_spotify.value_counts()

Ed Sheeran                               4
Imagine Dragons                          3
XXXTentacion                             3
Shawn Mendes                             3
Maroon 5                                 2
                                        ..
Camila Cabello featuring Young Thug      1
Travis Scott featuring Kendrick Lamar    1
The Neighbourhood                        1
John Legend                              1
DaBaby featuring Roddy Ricch             1
Name: Artist, Length: 82, dtype: int64

11 - Somente para termos certeza que o maior número de incidencias de nomes de artista está correta vamos utilizar Artist_spotify.value_counts().max()

In [31]:
Artist_spotify.value_counts().max()

4

Conclusão: Com essa analise podemos afirmar que o artista tem mais músicas dentro do rank das 100 músicas mais tocadas foi Ed.Sheram contendo 4 músicas no rank.